---
import {links} from '@info'

import Section from '@/components/Section.astro'
---

<Section>

    <div class="book-section" id="booknow">
        <div class="book-content">
            <h1 class="book-now-title">Book in here now!</h1>
            <p class="book-now-text">Give yourself and your partner a peacefull and wonderful room to enjoy.</p>
            <div class="book-links">
                {
                    Object.entries(links).map(([name, details]) => {
                        const linkStyle = `background:${details.background}; color:${details.color};`;
                        return (<a href={details.link} target="_blank" rel="noopener noreferrer" class="book-now" style={linkStyle}>
                                    Book Now in {name}
                                </a>)
                    })
                }
            </div>
        </div> 
        <div class="bg-circle-2"></div>
        <img src="src/icons/Apartment.png" class="book-now-img" alt="Apartment">
    </div>

</Section>

<script>


</script>

<style>

    .book-section {
        position: relative;
        display: flex;
        padding: 0 10vw;
        align-items: center;
        width: 100%;
        height: 100vh;
        gap: 30px;
    }

    .book-now-img {
        position: absolute;
        width: 50%;
        right: 0;
    }

    .book-content {
        width: 50%;
        color: #fff;
    }

    .book-now-title {
        font-size: 50px;
        font-weight: 300;
        width: 300px;
    }

    .book-now-text {
        width: 300px;
        opacity: 0.5;
        line-height: 25px;
        margin: 30px 0;
    }

    .book-now {
        position: relative;
        padding: 20px 40px;
        outline: none;
        border: none;
        text-transform: capitalize;
        border-radius: 40px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        font-size: 18px;
        cursor: pointer;
        overflow: hidden;
    }

    .book-now::before {
        content: '';
        position: absolute;
        top: -10px;
        left: -30px;
        width: 20px;
        height: 200%;
        background: #161813;
        opacity: .2;
        transform: rotate(5deg);
        transition: .5s;
    }

    .book-now:hover::before {
        left: 100%;
    }

    .bg-circle-2 {
        z-index: -1;
        position: absolute;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        background: var(--sphere-gradient-two);
        left: -125px;
        bottom: -100px
    }

    .book-links {
        display: flex;
        flex-direction: column;
        width: 50%;
        gap: 30px;
    }

    .book-links img {
        width: 50px;
        height: 50px;
    }

    @media screen and (max-width: 996px) {
        .book-now-img {
            width: 40%;
        }
    }

    @media screen and (max-width: 798px) {
        .book-section {
            height: auto;
            padding: 80px 10vw;
        }

        .bg-circle-2 {
            z-index: -2;
        }

        .book-now-img {
            width: 100%;
            opacity: 0.5 !important;
        }

        .book-content {
            width: 100%;
            z-index: 2;
            text-align: center;
        }

        .book-now-title, .book-now-text{
            width: 100%;
        }
    }

</style>